<html>
<body>
  <div>Welcome to new offline app</div>
   <div id="greeting-div"></div>

    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="https://fb.me/react-dom-15.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/babel">
      require('./build/posMain.js')
     </script>
  <div data-ng-controller="posMainCtrl">
  	{{name}}
  	<table>
  		<tr>
  			<th>PostId</th>
  			<th>Name</th>
  		</tr>
  		<tr data-ng-repeat="data in respDataFromApi">
  			<td>{{data.postId}}</td>
  			<td>{{data.name}}</td>
  		</tr>
  	</table>
  </div>
</body>
 <script>
  require('./lib/angular.min.js')
  require('./app.js')
 </script>
</html>